/* RESET*/
:root {
  --primary-text-color: #212121;
  --tittle-text-color: #757575;
  --text-color: #000000;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --primary-white-color: #f5f4fa;
  --background-color: #2f303a;
  --contakt-color: rgba(255, 255, 255, 0.6);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto";
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-size: 14px;
  background: var(--white-color);
  padding-top: 80px;
}

/*container*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*section*/
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__tittle {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__tittle {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

/*------index page-------*/
.current {
  color: var(--accent-color);
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  position: fixed;
  width: 100%;
  max-height: 80px;
  background-color: var(--white-color);
  top: 0;
  left: 0;
  z-index: 100;
}

.nav-container {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav-thumb {
  position: relative;
}

.item {
  position: relative;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 93px;
}

.hover-attribute::before {
  position: absolute;
  left: 0;
  bottom: -32px;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

.nav-link {
  font-weight: 500;
  line-height: 1.14;
  color: inherit;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contacts .contact-item + .contact-item {
  margin-left: 50px;
}

.contact-link {
  color: var(--tittle-text-color);
  font-weight: 500;
  line-height: 1.14;
}

.contact-link-bottom {
  color: var(--contakt-color);
}

.contact-link:hover,
.contact-link:focus,
.contact-link-bottom:hover,
.contact-link-bottom:focus {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: var(--accent-color);
}

.icon-email {
  width: 23px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.accent {
  color: var(--accent-color);
}

/*HERO SECTION*/
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 100%;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/bg-hero/Hero-sm.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/bg-hero/Hero-sm.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/bg-hero/Hero-sm@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/bg-hero/Hero-sm@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-hero/Hero-mid.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero/Hero-mid.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-hero/hero-mid@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero/hero-mid@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/bg-hero/hero-big.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/bg-hero/hero-big.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/bg-hero/hero-big@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/bg-hero/hero-big@2x.jpg);
  }
}

.hero__text {
  color: var(--white-color);
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 26px;
    line-height: 1.61;
    width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 44px;
    line-height: 1.3;
    width: 696px;
  }
}

.hero__btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: var(--accent-color);
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-color);
  cursor: pointer;
  display: inline-block;
  border: none;
}

/*FUTURE SECTION*/
.future {
  padding-bottom: 0px;
}

.future__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .future__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.future__item {
  text-align: left;
  gap: 30px;
}
.future__item:nth-child(1)::before {
  content: "";
  display: block;
  height: 120px;
  width: 270px;
  background-image: url(../images/icons/antenna1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.future__item:nth-child(2)::before {
  content: "";
  display: block;
  height: 120px;
  width: 270px;
  background-image: url(../images/icons/clock1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.future__item:nth-child(3)::before {
  content: "";
  display: block;
  height: 120px;
  width: 270px;
  background-image: url(../images/icons/diagram1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.future__item:nth-child(4)::before {
  content: "";
  display: block;
  height: 120px;
  width: 270px;
  background-image: url(../images/icons/astronaut1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .future__item {
    width: 450px;
    height: 226px;
  }
  .future__item:nth-child(1)::before, .future__item:nth-child(2)::before, .future__item:nth-child(3)::before, .future__item:nth-child(4)::before {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .future__item {
    width: 354px;
    height: 226px;
  }
  .future__item:nth-child(1)::before, .future__item:nth-child(2)::before, .future__item:nth-child(3)::before, .future__item:nth-child(4)::before {
    width: 354px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .future__item:nth-child(3) {
    margin-top: 30px;
  }
  .future__item:nth-child(4) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .future__item {
    width: 270px;
    height: 248px;
  }
  .future__item:nth-child(1)::before, .future__item:nth-child(2)::before, .future__item:nth-child(3)::before, .future__item:nth-child(4)::before {
    width: 270px;
  }
}

.future__title--text {
  font-size: 14px;
  line-height: 1.71;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .future__title--text {
    text-align: left;
  }
}

.future__low--text {
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}

/*work section*/
@media screen and (max-width: 1199px) {
  .work {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__item--box {
  position: relative;
}

.work__item--text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  width: 100%;
  height: 70px;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* team section*/
.team {
  background: var(--primary-white-color);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .team-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team-item {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.link-team {
  display: block;
  padding: 12px;
  color: #afb1b8;
  width: 44px;
  height: 44px;
}
.link-team:hover, .link-team:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
  color: var(--white-color);
}

.link-team-item:not(:last-child) {
  margin-right: 10px;
}

.team-social-icon {
  fill: currentColor;
}

.img-team-text {
  padding-bottom: 30px;
  padding-top: 30px;
}

.team-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-low-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--tittle-text-color);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 0px;
}

.link-team-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  padding-right: 32px;
  padding-left: 32px;
  list-style: none;
}

/*client section*/
.client {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .client {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.client-box {
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
}
@media screen and (min-width: 480px) {
  .client-box {
    width: 210px;
    height: 92px;
    padding-left: 52px;
    padding-right: 52px;
  }
}
@media screen and (min-width: 768px) {
  .client-box {
    width: 226px;
    height: 92px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .client-box {
    width: 170px;
    height: 92px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
.client-box:hover, .client-box:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.client-link {
  color: currentColor;
}

.client-icon {
  fill: currentColor;
}

.footer {
  background: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.div-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .div-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .div-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.address {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-top: 20px;
}

.inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .inform {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .inform {
    display: block;
  }
}

.footer-list {
  margin-top: 9px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-logo {
  color: var(--white-color);
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .social {
    display: block;
    padding-top: 12px;
    padding-left: 70px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .social {
    display: block;
    padding-top: 12px;
    padding-left: 70px;
    margin-top: 0;
  }
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-tittle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: var(--white-color);
}

.social-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.social-link {
  display: inline-block;
  padding: 12px;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  fill: var(--white-color);
}

.footer-form-container {
  padding-top: 12px;
}
@media screen and (min-width: 1200px) {
  .footer-form-container {
    padding-left: 93px;
  }
}

.footer-form-tittle {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-form-tittle {
    margin-top: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-tittle {
    text-align: left;
  }
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-form-input {
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #2f303a;
  color: var(--white-color);
}
@media screen and (min-width: 480px) {
  .footer-form-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-input {
    width: 358px;
  }
}

.icon-contact-form {
  position: absolute;
  top: 50%;
  left: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.footer-form-btn {
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  padding-left: 28px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .footer-form-btn {
    margin-top: 0;
    margin-left: 12px;
  }
}

.footer-form-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/*------Modal window--------*/
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(72, 72, 72, 0.6);
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.modal-btn-icon {
  width: 11px;
  height: 11px;
}

.modal-btn:hover {
  color: var(--accent-color);
}

.modal-btn:hover > .modal-btn-icon {
  fill: currentColor;
}

.modal-form-container {
  padding-top: 40px;
  padding-left: 41px;
  padding-right: 39px;
  padding-bottom: 40px;
}

.modal-form-tittle {
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form-feeld {
  position: relative;
}

.contact-form-feeld:not(:last-child) {
  margin-bottom: 10px;
}

.contact-form-label {
  display: inline-block;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.contact-form-input {
  width: 448px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 35px;
  outline: rgba(33, 33, 33, 0.2);
}

.contact-form-input:focus,
.contact-form-textarea:focus {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}

.contact-form-input:focus + .icon-contact-form > .icon-contact-form-svg {
  fill: var(--accent-color);
}

.contact-form-textarea {
  width: 448px;
  height: 120px;
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 12px;
}

.contact-form-checkbox {
  margin-top: 20px;
}

.checkbox-link {
  color: var(--accent-color);
}

.checkbox-text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contact-form-custom {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7px;
  width: 15px;
  height: 15px;
  outline: 2px solid #000000;
  outline-offset: -2px;
  border-radius: 2px;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

.checkbox:checked + .contact-form-custom {
  background-color: #2196f3;
  outline: 2px solid #2196f3;
}

.modal-btn-form {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  cursor: pointer;
  color: #ffffff;
  background-color: rgb(33, 150, 243);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #2196f3;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
  margin-top: 30px;
}

.modal-btn-form:hover {
  background-color: rgb(24, 140, 232);
}

/*------ partfolio page-------*/
.partf-btn {
  font-family: inherit;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}

.partf-btn:hover,
.partf-btn:focus {
  background: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.partf-item-thumb {
  position: relative;
  overflow: hidden;
}

.partf-item-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 30px;
  margin: 0;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.partf-img-text {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-top: 0;
}

.partf-img-low-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
  margin-bottom: 0px;
}

.partf-btn-ul {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.partf-btn-list:not(:last-child) {
  margin-right: 8px;
}

.partf-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partf-item {
  gap: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
@media screen and (min-width: 480px) {
  .partf-item {
    width: 450px;
    height: 404px;
  }
}
@media screen and (min-width: 768px) {
  .partf-item {
    width: 354;
    height: 440px;
  }
}
@media screen and (min-width: 1200px) {
  .partf-item {
    width: 370px;
    height: 404px;
  }
}

.partf-item:hover .partf-item-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.partf-item:hover,
.partf-item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.partf-text {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.partf-item:nth-child(3n+3) {
  margin-right: 0px;
}

.partf-item:nth-last-child(-n+3) {
  margin-top: 30px;
}

.partf-item:nth-child(-n+3) {
  margin-bottom: 30px;
}/*# sourceMappingURL=main.css.map */