:root {
    --primary-text-color: #212121;
    --tittle-text-color: #757575;
    --text-color: #000000;
    --accent-color: #2196F3;
    --white-color: #ffffff;
    --primary-white-color: #F5F4FA;
    --background-color: #2F303A;
    --contakt-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: 'Roboto';
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
    font-size: 14px;
    background: var(--white-color);
    padding-top: 80px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.current {
    color: var(--accent-color);
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;

    position: fixed;
    width: 100%;
    max-height: 80px;
    background-color: var(--white-color);
    top: 0;
    left: 0;
    z-index: 100;
}

.nav-container {
    display: block;
    display: flex;
    align-items: center;
}

.nav {
    display: block;
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
}

.site-nav-thumb {
    position: relative;
}

.item {
    position: relative;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--text-color);

    display: flex;
    margin-right: 93px;
}

.hover-attribute::before {
    position: absolute;
    left: 0;
    bottom: -32px;



    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
}

.nav-link {
    font-weight: 500;
    line-height: 1.14;
    color: inherit;
}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .contact-item+.contact-item {
    margin-left: 50px;
}

.contact-link {
    color: var(--tittle-text-color);
    font-weight: 500;
    line-height: 1.14;
}

.contact-link-bottom {
    color: var(--contakt-color);
}

.contact-link:hover,
.contact-link:focus,
.contact-link-bottom:hover,
.contact-link-bottom:focus {
    color: var(--accent-color)
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    color: var(--accent-color);
}

.icon-email {
    width: 23px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}

.icon-tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}

.accent {
    color: var(--accent-color);
}

.btn-active {
    background: var(--accent-color);
    color: var(--white-color);
    cursor: pointer;
}

.client {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.client-box {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;

    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
}

.client-box:not(:last-child) {
    margin-right: 30px;
}

.client-box:hover,
.client-box:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.client-link {
    color: currentColor;
}

.client-icon {
    fill: currentColor;
}

.section__tittle {
    font-family: 'Roboto';
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.div-footer {
    display: flex;
}

.address {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);

    margin-top: 20px;
}

.footer-list {
    margin-top: 9px;
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-logo {
    color: var(--white-color);
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.social {
    padding-top: 12px;
    padding-left: 70px;
}

.social-item {
    width: 44px;
    height: 44px;
}

.social-tittle {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 20px;

    color: var(--white-color);
}

.social-list {
    list-style: none;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;

    padding-left: 0px;
}

.social-link {
    display: inline-block;
    padding: 12px;
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
}

.social-item:not(:last-child) {
    margin-right: 10px;
}

.social-icon {
    fill: var(--white-color)
}

.footer {
    background: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-form-container {
    padding-left: 93px;
    padding-top: 12px;
}

.footer-form-tittle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;

    color: #FFFFFF;
}

.footer-form {
    display: flex;
    align-items: center;
}

.footer-form-input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    box-sizing: border-box;
    background: #2F303A;

    color: var(--white-color);
}

.icon-contact-form {
    position: absolute;
    top: 50%;
    left: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.footer-form-btn {
    width: 200px;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    padding-left: 28px;
    padding-top: 10px;
    padding-right: 28px;
    padding-bottom: 10px;
    margin-left: 12px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: #2196F3;
}

.footer-form-svg {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

/*------Modal window--------*/
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(72, 72, 72, 0.6);
    transition: opacity 250ms ease-in-out;

}

.modal {
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    background-color: #ffffff;

    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

}

.modal-btn-icon {
    width: 11px;
    height: 11px;
}

.modal-btn:hover {
    color: var(--accent-color);
}

.modal-btn:hover>.modal-btn-icon {
    fill: currentColor;
}

.modal-form-container {
    padding-top: 40px;
    padding-left: 41px;
    padding-right: 39px;
    padding-bottom: 40px;

}

.modal-form-tittle {
    margin-bottom: 12px;

    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form-feeld {
    position: relative;
}

.contact-form-feeld:not(:last-child) {
    margin-bottom: 10px;
}

.contact-form-label {
    display: inline-block;
    margin-bottom: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;

    letter-spacing: 0.01em;

    color: #757575;
}

.contact-form-input {
    width: 448px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 35px;
    outline: rgba(33, 33, 33, 0.2);
}


.contact-form-input:focus,
.contact-form-textarea:focus {
    border-color: var(--accent-color);
    outline: var(--accent-color);
}


.contact-form-input:focus+.icon-contact-form>.icon-contact-form-svg {
    fill: var(--accent-color);
}

.contact-form-textarea {
    width: 448px;
    height: 120px;
    resize: none;
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 12px;

}

.contact-form-checkbox {
    margin-top: 20px;
}

.checkbox-link {
    color: var(--accent-color);
}

.checkbox-text {
    user-select: none;
}

.contact-form-custom {
    display: inline-flex;
    justify-content: center;
    align-items: center;


    margin-right: 7px;
    width: 15px;
    height: 15px;
    outline: 2px solid #000000;
    outline-offset: -2px;
    border-radius: 2px;
    transition: background-color 250ms ease-in-out;
}

.checkbox:checked+.contact-form-custom {
    background-color: #2196F3;
    outline: 2px solid #2196F3;
}

.modal-btn-form {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    cursor: pointer;

    color: #FFFFFF;

    background-color: rgb(33, 150, 243);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: #2196F3;
    transition: background-color 250ms ease-in-out;

    margin-top: 30px;
}

.modal-btn-form:hover {
    background-color: rgb(24, 140, 232);
}