.future {
    padding-bottom: 0px;
}

.future__list {
    display: flex;
}

.future__item {
    text-align: left;

    &:nth-child(1)::before {
        content: "";
        display: block;
        height: 120px;
        width: 270px;
        background-image: url(../images/icons/antenna1.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F5F4FA;
        margin-bottom: 30px;
    }

    &:nth-child(2)::before {
        content: "";
        display: block;
        height: 120px;
        width: 270px;
        background-image: url(../images/icons/clock1.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F5F4FA;
        margin-bottom: 30px;
    }

    &:nth-child(3)::before {
        content: "";
        display: block;
        height: 120px;
        width: 270px;
        background-image: url(../images/icons/diagram1.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F5F4FA;
        margin-bottom: 30px;
    }

    &:nth-child(4)::before {
        content: "";
        display: block;
        height: 120px;
        width: 270px;
        background-image: url(../images/icons/astronaut1.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F5F4FA;
        margin-bottom: 30px;
    }

}


.future__item+.future__item {
    margin-left: 30px;
}

.future__title--text {
    font-size: 14px;
    line-height: 1.71;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.future__low--text {
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--tittle-text-color);
}