.footer {
  background: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.div-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.address {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);

  margin-top: 20px;
}

.inform {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.footer-list {
  margin-top: 9px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-logo {
  color: var(--white-color);
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    display: block;
    padding-top: 12px;
    padding-left: 70px;
    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 12px;
    padding-left: 70px;
    margin-top: 0;
  }
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-tittle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;

  color: var(--white-color);
}

.social-list {
  list-style: none;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;

  padding-left: 0px;
}

.social-link {
  display: inline-block;
  padding: 12px;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  fill: var(--white-color);
}

.footer-form-container {
  padding-top: 12px;
  @media screen and (min-width: 1200px) {
    padding-left: 93px;
  }
}

.footer-form-tittle {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 60px;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-top: 12px;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.footer-form-input {
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  box-sizing: border-box;
  background: #2f303a;

  @media screen and (min-width: 480px) {
    width: 450px;
  }
  color: var(--white-color);
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.icon-contact-form {
  position: absolute;
  top: 50%;
  left: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.footer-form-btn {
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  padding-left: 28px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  margin-top: 20px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #2196f3;

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 12px;
  }
}

.footer-form-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
