.future {
  padding-bottom: 0px;
}

.future__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.future__item {
  text-align: left;
  gap: 30px;

  &:nth-child(1)::before {
    content: "";
    display: block;
    height: 120px;
    width: 270px;
    background-image: url(../images/icons/antenna1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }

  &:nth-child(2)::before {
    content: "";
    display: block;
    height: 120px;
    width: 270px;
    background-image: url(../images/icons/clock1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }

  &:nth-child(3)::before {
    content: "";
    display: block;
    height: 120px;
    width: 270px;
    background-image: url(../images/icons/diagram1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }

  &:nth-child(4)::before {
    content: "";
    display: block;
    height: 120px;
    width: 270px;
    background-image: url(../images/icons/astronaut1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 226px;
    &:nth-child(1)::before,
    &:nth-child(2)::before,
    &:nth-child(3)::before,
    &:nth-child(4)::before {
      width: 450px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 226px;
    &:nth-child(1)::before,
    &:nth-child(2)::before,
    &:nth-child(3)::before,
    &:nth-child(4)::before {
      width: 354px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:nth-child(3) {
      margin-top: 30px;
    }

    &:nth-child(4) {
      margin-top: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 248px;
    &:nth-child(1)::before,
    &:nth-child(2)::before,
    &:nth-child(3)::before,
    &:nth-child(4)::before {
      width: 270px;
    }
  }
}

.future__title--text {
  font-size: 14px;
  line-height: 1.71;
  text-transform: uppercase;

  margin-bottom: 10px;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.future__low--text {
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
  //   text-align: center;

  //   @media screen and (min-width: 768px) {
  // text-align: left;
  //   }
}
