.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-hero/Hero-sm.jpg);
  // Mobile
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/bg-hero/Hero-sm@2x.jpg);
    // table
     @media screen and (min-width: 768px) {
      background-image: url(../images/bg-hero/Hero-mid.jpg);
      // tablet retina screen
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/bg-hero/hero-mid@2x.jpg);
    //Desctop
     @media screen and (min-width: 1200px) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
         url(../images/bg-hero/bg-img_lg.png);
      // desktop retina screen
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/bg-hero/bg-img_lg@2x.png);
    max-width: 1600px;
    height: 600px;
  }
}

.hero__text {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);

  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero__btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: var(--accent-color);
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-color);
  cursor: pointer;

  display: inline-block;
  border: none;
}
