.team {
  background: var(--primary-white-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.link-team {
  display: block;
  padding: 12px;

  color: #afb1b8;

  width: 44px;
  height: 44px;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    border-radius: 50%;
    color: var(--white-color);
  }
}

.link-team-item:not(:last-child) {
  margin-right: 10px;
}

.team-social-icon {
  fill: currentColor;
}
.img-team-text {
  padding-bottom: 30px;
  padding-top: 30px;
}

.team-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-low-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--tittle-text-color);
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 0px;
}

.link-team-box {
  display: flex;
  margin-top: 16px;
  padding-right: 32px;
  padding-left: 32px;
  list-style: none;
}
