:root {
  --primary-text-color: #212121;
  --tittle-text-color: #757575;
  --text-color: #000000;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --primary-white-color: #f5f4fa;
  --background-color: #2f303a;
  --contakt-color: rgba(255, 255, 255, 0.6);
}
